# User-specific folders
.vs/
.idea/
.vscode/

# Build results
[xX][dD][eE][bB][uU][gG]/
[xX][rR][eE][lL][eE][aA][sS][eE]/
build/
Win32/
x64/
x86/
ARM/
ARM64/

# exception
!thirdparty/
!thirdparty/**/
!thirdparty/**/build/
!thirdparty/**/Win32/
!thirdparty/**/x64/
!thirdparty/**/x86/
!thirdparty/**/ARM/
!thirdparty/**/ARM64/